<head>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>

<h3>Our talented Stylists ...</h3>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="firstname">
     
      <td mat-cell *matCellDef="let element" class="firstname-col"> {{element.firstname}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="lastname">
    
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="specialties">
    
      <td mat-cell *matCellDef="let element">Specialties: {{element.specialties}} </td>
    </ng-container>

    
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/stylist-details/', row._id]"></tr>
  </table>
  <br/>
  <br/>
  <div class="button-row">
    <p>Add a new Stylist <a mat-raised-button color="primary" [routerLink]="['/stylist-create']"><mat-icon>add</mat-icon></a> </p>
  </div>
</div>

