td {
    font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif; 
    font-weight: bold;
}

h3 {
    font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif; 
    font-weight: bold   
}
p {
    font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif; 
    font-weight: bold
}

table {
    border-style: double;
    border-color: black;
    background-color: lightgray;
}