<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>

<picture>
<img src="../../assets/salonifylogo.png" width="1200px" height="600px" />
</picture>

<h1>About us</h1>



    <p>Thank you for looking at our final project.  The idea was for this to be a tool for Local Stylists and Cosmotologists to use to better organize things.</p>

    <p>Future builds will include a live calendar where customers can request appointments and place hold with a cc.</p>
    
    <p>There will also be a live chat feature added to directly communicate with the stylists in case of changes or questions.</p>
    
    <p>Built by Team DWAIN</p>
    
    <p>Have a great day!</p>


</body>
</html>