<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>

<picture>
<img src="assets\Pictures\salonifylogo.png" style="width:auto;">
</picture>

<h2>About us....</h2>
<p>We are a full service salon focusing on Haircut and Color</p>
<br/>

<div class="header">
  <h1 id="gallery">Inspiration Gallery</h1>

</div>


<div class="row"> 
  <div class="column">
    <a target="_blank" href="assets\Pictures\blonde1.png">
    <img src="assets\Pictures\blonde1.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\blonde2.png">
    <img src="assets\Pictures\blonde2.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\blonde3.png">
    <img src="assets\Pictures\blonde3.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\blonde4.png">
    <img src="assets\Pictures\blonde4.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\blonde5.png">
    <img src="assets\Pictures\blonde5.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\blonde6.png">
    <img src="assets\Pictures\blonde6.png" style="width:100%"></a>
  </div>
  <div class="column">
    <a target="_blank" href="assets\Pictures\brown1.png">   
    <img src="assets\Pictures\brown1.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\brown2.png">  
    <img src="assets\Pictures\brown2.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\brown3.png">  
    <img src="assets\Pictures\brown3.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\brown4.png">  
    <img src="assets\Pictures\brown4.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\brown5.png">  
    <img src="assets\Pictures\brown5.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\brown6.png">  
    <img src="assets\Pictures\brown6.png" style="width:100%"></a>
  </div>  
  <div class="column">
    <a target="_blank" href="assets\Pictures\red1.png">   
    <img src="assets\Pictures\red1.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\red2.png">  
    <img src="assets\Pictures\red2.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\red3.png">  
    <img src="assets\Pictures\red3.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\red4.png">  
    <img src="assets\Pictures\red4.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\red5.png">  
    <img src="assets\Pictures\red5.png" style="width:100%"></a>
    <a target="_blank" href="assets\Pictures\red6.png">  
    <img src="assets\Pictures\red6.png" style="width:100%"></a>
  </div>
</div>
</body>
</html>